datasets
huggingface_hub
geodatasets
geopy
geopandas
folium
ipython
ipykernel
langchain
langchain-cli
langchain-experimental
langchain-openai
llm
mapclassify
matplotlib
openai
pandas
pandasai
pyarrow
streamlit
streamlit-authenticator
streamlit-folium
tabulate
transformers
watchdog